---
# Front matter required for Jekyll to process SCSS
---

// Basic Dark Mode Styling
$background-color: #1e1e1e;
$text-color: #e0e0e0;
$link-color: #64b5f6;
$header-bg: #333;
$footer-bg: #333;
$border-color: #555;

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: $header-bg;
  color: white;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid $border-color;

  .site-title {
    a {
      color: white;
      text-decoration: none;
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-left: 20px;
      a {
        color: $link-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  padding: 20px 0;
}

footer {
  background-color: $footer-bg;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 40px;
  border-top: 1px solid $border-color;
}

h1, h2, h3, h4, h5, h6 {
  color: lighten($text-color, 10%);
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .post-meta {
    font-size: 0.9em;
    color: lighten($text-color, 20%);
    display: block;
    margin-bottom: 10px;
  }
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    color: $link-color;
  }
  p {
    margin-bottom: 1em;
  }
  // Add more styling for markdown elements like lists, blockquotes, code, etc.
}

.page-heading {
  text-align: center;
  margin-bottom: 40px;
  color: $link-color;
}

.intro-text {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 50px;
  color: lighten($text-color, 10%);
}

.all-blogs-link {
  text-align: center;
  margin-top: 30px;
  font-size: 1.1em;
}